<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between" style="padding: 8px 16px;">
  <a class="navbar-brand" href="/">Todolist</a>
  <a class="btn btn-secondary" type="submit" href="/todos/new">Create</a>
</nav>