<header>
  <nav class="navbar navbar-dark justify-content-between" style="padding: 8px 16px;
    background-color: #e95420;">
    <a class="navbar-brand" href="/">
      {{#if isAuthenticated}}{{ user.name}}'s {{/if}}
      Todo List
    </a>
    {{#if isAuthenticated}}
    <a href="/users/logout" class="btn btn-outline-light">Logout</a>
    {{else}}
    <a href="/users/login" class="btn btn-outline-light">Login</a>
    {{/if}}
  </nav>
</header>